<center>
<img src="https://benefits.fastfive.co.kr/wp-content/uploads/2017/12/logo_%ED%8C%A8%EC%8A%A4%ED%8A%B8%EC%BA%A0%ED%8D%BC%EC%8A%A4-600x500.png" width="300" height="300"><br>
</center>

파이썬을 활용한 이커머스 데이터분석_강의를 듣고 따라했던 코딩과 요점을 정리하였다.
 - 출처: [fast campus](https://fastcampus.co.kr/?gclid=CjwKCAjwqvyFBhB7EiwAER786a4FhRzvL9JiiOOTS5TL22ZuXVUKWvF6wWni06h-6fIZ5tp1j0J5phoCoHMQAvD_BwE)




# Chapter.08 쇼핑몰 매출 예측 (Times Series)

## 분석의 목적


- 시간 관련 데이터 다양하게 조작하기

- fbprophet을 통한 시계열 예측

- AutoRegressive 알고리즘을 통한 예측

In [1]:
import pandas as pd
import numpy as np

In [2]:
from datetime import datetime, timedelta

In [3]:
today =datetime.now()

In [4]:
today

datetime.datetime(2021, 7, 6, 8, 7, 12, 149454)

In [5]:
today.day

6

In [6]:
today.year

2021

In [7]:
today.month

7

In [8]:
today

datetime.datetime(2021, 7, 6, 8, 7, 12, 149454)

timedelta 의 파라미터값을 조정 할 수 있다. 년, 월, 일, 시간 ..

In [9]:
today + timedelta(days = 10)

datetime.datetime(2021, 7, 16, 8, 7, 12, 149454)

간단하게 DataFrame 을 만들어 보자. (의미는 없는 값)

In [10]:
data = pd.DataFrame({'date':['7/6/2021', '7/7/2021', '7/8/2021'], 'value':[10,20,30]})

In [11]:
data

       date  value
0  7/6/2021     10
1  7/7/2021     20
2  7/8/2021     30

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    3 non-null      object
 1   value   3 non-null      int64
dtypes: int64(1), object(1)
memory usage: 176.0+ bytes

Dtype을 보면 date가 object로 되어있다. string(문자열)로 인식 하고 있기 때문에 작업하는데에 에로사항이 많기에 바꾸어 주도록 하자.

- pd.to_datetime() 함수를 사용한다.

In [13]:
pd.to_datetime(data['date'])

0   2021-07-06
1   2021-07-07
2   2021-07-08
Name: date, dtype: datetime64[ns]

dtype 가 object에서 datetime64로 변경 되었다.

In [14]:
data['date'] = pd.to_datetime(data['date'])

In [15]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    3 non-null      datetime64[ns]
 1   value   3 non-null      int64
dtypes: datetime64[ns](1), int64(1)
memory usage: 176.0 bytes

In [17]:
data['date'].loc[0]

Timestamp('2021-07-06 00:00:00')

In [21]:
data['date'].loc[0].month

7

In [22]:
data = pd.DataFrame({'date':['7-6-2021 1:11:11', '7-7-2021 2:11:11', '7-8-2021 3:11:11'], 'value':[10,20,30]})

In [23]:
data

               date  value
0  7-6-2021 1:11:11     10
1  7-7-2021 2:11:11     20
2  7-8-2021 3:11:11     30

In [24]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    3 non-null      object
 1   value   3 non-null      int64
dtypes: int64(1), object(1)
memory usage: 176.0+ bytes

In [25]:
pd.to_datetime(data['date'])

0   2021-07-06 01:11:11
1   2021-07-07 02:11:11
2   2021-07-08 03:11:11
Name: date, dtype: datetime64[ns]

위와 했던 방법과 동일하게 바꾸어 주었다. dtype 변경 그리고 년-월-일 순으로 똑똑하게 알아서 바꿔준다는것을 눈으로 확인 해 볼 수 있다.

In [26]:
data['date'] = pd.to_datetime(data['date'])

In [27]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    3 non-null      datetime64[ns]
 1   value   3 non-null      int64
dtypes: datetime64[ns](1), int64(1)
memory usage: 176.0 bytes

In [28]:
data['date'].loc[0]

Timestamp('2021-07-06 01:11:11')

In [29]:
data['date'].loc[0].day

6