<center>
<img src="https://benefits.fastfive.co.kr/wp-content/uploads/2017/12/logo_%ED%8C%A8%EC%8A%A4%ED%8A%B8%EC%BA%A0%ED%8D%BC%EC%8A%A4-600x500.png" width="300" height="300"><br>
</center>

파이썬을 활용한 이커머스 데이터분석_강의를 듣고 따라했던 코딩과 요점을 정리하였다.
 - 출처: [fast campus](https://fastcampus.co.kr/?gclid=CjwKCAjwqvyFBhB7EiwAER786a4FhRzvL9JiiOOTS5TL22ZuXVUKWvF6wWni06h-6fIZ5tp1j0J5phoCoHMQAvD_BwE)




# Chapter.06 프로모션 효율 예측 (Random Forest)

## 분석의 목적


- Random Forest 를 이용하여, 프로모션에 반응할 고객을 예측

- 고객 데이터와 거래 데이터를 통합 활용

In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
mem = pd.read_csv('./data/member.csv')
tran = pd.read_csv('./data/transaction.csv')

In [5]:
mem.head(5)

       id  recency   zip_code  is_referral channel  conversion
0  906145       10  Surburban            0   Phone           0
1  184478        6      Rural            1     Web           0
2  394235        7  Surburban            1     Web           0
3  130152        9      Rural            1     Web           0
4  940352        2      Urban            0     Web           0

#### 데이터 컬럼 살펴보기
- id : 아이디 (의미가 없는 컬럼으로 추후 드랍예정이다.)
- recency : 최근이용을 언제 했었나 (10일전, 6일전 ..)
- zip_code : 우편번호 (한번 가공이 된 상태)
- is_referral : 추천인이 있고 없음 으로 가입을 했는지
- channe : 서비스 이용 채널 (폰, 웹 )
- conversion : 프로모션을 받고 나서 고객이 구입을 했는지 안했는지 (우리가 예측하고자 하는 컬럼/종속변수)

In [6]:
mem.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64000 entries, 0 to 63999
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           64000 non-null  int64
 1   recency      64000 non-null  int64
 2   zip_code     64000 non-null  object
 3   is_referral  64000 non-null  int64
 4   channel      64000 non-null  object
 5   conversion   64000 non-null  int64
dtypes: int64(4), object(2)
memory usage: 2.9+ MB

In [7]:
mem.describe()

                  id       recency   is_referral    conversion
count   64000.000000  64000.000000  64000.000000  64000.000000
mean   550694.137797      5.763734      0.502250      0.146781
std    259105.689773      3.507592      0.499999      0.353890
min    100001.000000      1.000000      0.000000      0.000000
25%    326772.000000      2.000000      0.000000      0.000000
50%    551300.000000      6.000000      1.000000      0.000000
75%    774914.500000      9.000000      1.000000      0.000000
max    999997.000000     12.000000      1.000000      1.000000

In [8]:
tran.head()

       id  num_item  total_amount
0  906145         5         34000
1  906145         1         27000
2  906145         4         33000
3  184478         4         29000
4  394235         4         33000

#### 데이터 컬럼 살펴보기
- id : 아이디 (의미가 없는 컬럼으로 추후 드랍예정이다.)
- num_item : 한 거래에 몇개에 아이템을 구매 했는지
- total_amount : 총 금액

In [9]:
tran.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 196836 entries, 0 to 196835
Data columns (total 3 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id            196836 non-null  int64
 1   num_item      196836 non-null  int64
 2   total_amount  196836 non-null  int64
dtypes: int64(3)
memory usage: 4.5 MB

In [10]:
tran.describe()

                  id       num_item   total_amount
count  196836.000000  196836.000000  196836.000000
mean   550557.552932       3.078365   21837.102969
std    259254.795613       1.478408    8218.005565
min    100001.000000       1.000000    8000.000000
25%    326719.000000       2.000000   15000.000000
50%    550918.000000       3.000000   22000.000000
75%    774916.000000       4.000000   29000.000000
max    999997.000000       6.000000   38000.000000